* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Lato';
  src: url('lato.ttf');
}

@font-face {
  font-family: 'Fira Code';
  src: url('fira.ttf');
}

::selection {
  background: #454545;
  color: whitesmoke;
}

body {
  font-size: 15px !important;
  font-family: 'Lato', sans-serif;
  color: #454545;
}

.container {
  max-width: 768px;
  margin: 2em auto 4em auto;
  padding: 0 0.75em;
}

.title {
  text-align: center;
  border-bottom: 3px #d0d0d0 solid;
  padding-bottom: 0.15em;
  margin-bottom: 1.5em;
  margin-top: 0.25em;
}

.title:hover {
  border-bottom: 3px #454545 solid;
}

.heading {
  color: #454545 !important;
  border-bottom: 2px #d0d0d0 solid;
  padding-bottom: 0.1em;
}

.heading:hover {
  border-bottom: 2px #454545 solid;
}

.math {
  overflow-x: auto;
  overflow-y: hidden;
}

.mjx-chtml.MJXc-display {
  margin: 0 !important;
}

#back {
  font-size: 1.25em;
  color: #454545;
}

h2, h3 {
  margin-top: 1.5em;
}

p, ul, ol {
  line-height: 1.75em !important;
}

a {
  color: #27408b;
  text-decoration: none;
}

a:visited {
  color: #00688b;
}

code {
  font-family: 'Fira Code', monospace;
  font-size: 0.9em;
  line-height: 1.4em;
}

pre > code {
  background: #f7f7f7 !important;
}

.result::before {
  content: 'RESULT';
  padding: 0.5em;
  background: #f7f7f7 !important; 
  font-family: 'Fira Code', monospace;
}

.stdout::before {
  content: 'STDOUT/STDERR';
  padding: 0.5em;
  background: #f7f7f7 !important; 
  font-family: 'Fira Code', monospace;
}

@media screen and (max-width: 640px) {
  body {
    font-size: 14px !important;
  }
}

@media screen and (max-width: 512px) {
  body {
    font-size: 12px !important;
  }
}
